@import url ('https://fonts.googleapis.com/css2? family = Atuendo: wght @ 300; 600; 800 & family = Playfair + Display: ital, wght @ 0,400; 1,500 & display = swap' );
/*
paleta de colores logo:
color: #FF0036; rojo
color: #00BE00; verde letras
color: #FF7A00; marron naranja
color: #A59E9F; gris
color: #050000; black
*/

/*
font-family: 'Outfit', sans-serif;
font-family: 'Playfair Display', serif;
*/
*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
 .header__logo {
    width: 200px;
    
}
.navbar-light .navbar-nav .nav-link {
    color: #FF7A00;
    margin: 0px 20px;
   padding-left: 40px;
   font-family: 'Outfit', sans-serif;
   font-weight: 800;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

}
.titulo{
    background-color:  #FF0036;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    min-width: 100%;
}
.uno__img-derecha{
  margin-left: 50px;
}
.parrafo{
    font-family: 'Outfit', sans-serif;
}
.parrafo__uno{
    text-align: justify;
    font-family: 'Outfit', sans-serif;
}

.vendidos{
    width: 100%;
}
.sub__titulo{
    text-align: center;
}
.main__contenedor{
    background-image: url("../img/accesorios-para-perros-set-productos-mascotas-alimentos-rayar-poste-de-juguetes-peine-tratar-el-estilo-dibujos-animados-vector-192874239.jpg");
    background-position: top;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__oferta{
    margin: auto;
    margin-top: 20%;
    background-color: #FF0036;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 80%;
}
.main__titulo{
    color: white;
}
.card-title{
    background-color:#FF0036;
    text-align: center;
}

