*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}
 .header__logo {
    width: 200px;
    
}
.navbar-light {
    color: #FF7A00;
    margin: 0px 20px;
   padding-left: 40px;
   font-family: 'Outfit', sans-serif;
   font-weight: 800;
}   
.navbar-nav {
   @extend .navbar-light;
}
.nav-link {
    @extend .navbar-light;
}
   .nav-link{
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.container__oferta{
     height: 250px;
}
.contaniner__fluid{
    box-sizing: border-box;
}
.uno__img-derecha{
    margin-left: 50px;
  }
  .parrafo{
    font-family: 'Outfit', sans-serif;

&__uno{
    text-align: justify;
    font-family: 'Outfit', sans-serif;
}
}
.vendidos{
    width: 100%;
}
.sub__titulo{
    text-align: center;
}
.main__oferta{
    margin: auto;
    margin-top: 20%;
    background-color: #FF0036;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 80%;
    &__titulo{
        color: white;
    }
}
@mixin red-center{
    background-color:red;
    text-align:center;
}
   
.card-title{
    @include red-center;
}
$style:(
    color:  #FF0036,
    centrar: center,
    tletra: 'Playfair Display',
    fletra: xx-large,
    ancho: 100%,
);
.titulo{
    background-color: map-get($style,color);
    text-align: map-get($style,centrar);
    font-family: map-get($style,tletra);
    font-size: map-get($style,fletra);
    width: map-get($style,ancho);
}
